*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{

    background:#111;

    color:white;

    width:1920px;
    height:1080px;

    overflow:hidden;
}

#boards{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

    padding:20px;

    height:100vh;
}

.board{

    background:#1d1d1d;

    border:2px solid #444;

    border-radius:15px;

    overflow:hidden;
}

.board h1{

    background:#2b2b2b;

    text-align:center;

    padding:18px;

    font-size:36px;
}

table{

    width:100%;

    border-collapse:collapse;

    table-layout:fixed;
}

td{

    border:1px solid #555;

    padding:10px;

    text-align:center;

    font-size:22px;

    height:48px;

    word-wrap:break-word;
}
